<!DOCTYPE html>
<html>
<head>
    <title>Pre-Diary</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/application.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/detail.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/signin.css' rel='stylesheet' type='text/css'>
</head>
<body style="background-image: url('/images/new_background.png'); background-size: 100% 1600px;">

<div id="bar" class="col-xs-12">
</div>
<div id="blank" style="">
    <div>
        <br>
        <img class="displayed" id="logo" src="/images/new_logo.png"  width = "60%">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div id="naver_signinbtn">
                <a href = "/users/login">
                <img src = "/images/btn_loginNaver.png" width = "100%">
                </a>
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div id="facebook_signin" onclick="alert('준비중입니다.');">
                <img src = "/images/btn_LoginFacebook.png" width = "100%">
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>
