<!DOCTYPE html>
<html>
<head>
    <title>Pre-Diary</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/application.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/detail.css' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/signin.css' rel='stylesheet' type='text/css'>
</head>
<body style="background-image: url('/images/new_background.png'); background-size: 100% 1600px;">

<section id='detail'>
    <header class='nav row'>
        <div class='col-xs-12'>
            <div class='left-wrapper'>
                <a href='/view/index'>
                    <img src='/images/Back.png' />
                </a>
            </div>
            <div class='right-wrapper'>
                <!-- Button trigger modal -->
                <img src='/images/Share.png' data-toggle="modal" data-target="#myModal" />

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src='/images/btn_shareFacebook.png' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article class='detail-content-wrapper'>
        <div class='detail-content'>
            <p>sdkdjksdfjfsadjsadlksadl;akdl ;qkdl;qwkdlasmsdkvmn skd slkdfjslkfjekfjel fmk lmlv  kfsldfks flsfjs kfje   jwekl jwkl wjfklm w ml; kwl;e fkwe;jw efwjef kwjef wkl jlkf jwekl fjw klfjw lkfjw kljw lkfj</p>
        </div>
    </article>

    <footer>
        <div class='row arrow-wrapper'>
            <div class='col-xs-2'>
                <div class='arrow left'>
                    <img src='/images/Long_Arrow_Left-64.png' /></i>
                </div>
            </div>
            <div class='col-xs-8'>
                <p class='center'>1주전, 15/11/10 일기 작성</p>
            </div>
            <div class='col-xs-2'>
                <div class='arrow right'>
                    <img src='/images/Long_Arrow_Right-64.png' />
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-12'>
                <div class='center-content'>
                    <div class='smile'>
                        <img src='/images/pre_face_01.png' />
                    </div>
                    <div class='smile'>
                        <img src='/images/pre_face_02.png' />
                    </div>
                    <div class='smile'>
                        <img src='/images/pre_face_03.png' />
                    </div>
                    <div class='smile'>
                        <img src='/images/pre_face_04.png' />
                    </div>
                    <div class='smile'>
                        <img src='/images/pre_face_05.png' />
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class='row bottom'>
            <div class='col-xs-12'>
                <center>
                    <p>싫어요</p>
                    <p>나뻐요</p>
                    <p>그냥 그래요</p>
                    <p>좋아요</p>
                    <p>사랑해요</p>
                </center>
            </div>
        </div>
    </footer>
</section>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/detail_write.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>
