<!DOCTYPE html>
<html>

<head>
    <title>Pre-Diary</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/statics.css">

    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/statics.js"></script>
</head>

<body>
<nav id="static-nav">
    <div class="row">
        <div id="back-icon" class="col-xs-2"></div>
        <div id="title" class="col-xs-10">ooo 의 11월</div>
    </div>
</nav>
<header id="static-header">
    <div id="emotion-box" class="row">
        <div class="emtion-group col-xs-2">
            <img class="emotion1" src="/images/pre_face_01.png">
            <div class="emotion-count">99</div>
        </div>
        <div class="emtion-group col-xs-2">
            <img class="emotion1" src="/images/pre_face_02.png">
            <div class="emotion-count">34</div>
        </div>
        <div class="emtion-group col-xs-2">
            <img class="emotion1" src="/images/pre_face_03.png">
            <div class="emotion-count">2</div>
        </div>
        <div class="emtion-group col-xs-2">
            <img class="emotion1" src="/images/pre_face_04.png">
            <div class="emotion-count">1</div>
        </div>
        <div class="emtion-group col-xs-2">
            <img class="emotion1" src="/images/pre_face_05.png">
            <div class="emotion-count">1</div>
        </div>
    </div>
</header>
<main>
    <div id="satatic-content">
        <section>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10 text-group">
                                    <div class="list-font-item1">First item</div>
                                    <div class="list-font-item2">11/11/11</div>
                                </div>
                                <div class="emotion-icon col-xs-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="list-font-item1">First item</div>
                                    <div class="list-font-item2">11/11/11</div>
                                </div>
                                <div class="emotion-icon col-xs-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="list-font-item1">First item</div>
                                    <div class="list-font-item2">11/11/11</div>
                                </div>
                                <div class="emotion-icon col-xs-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="list-font-item1">First item</div>
                                    <div class="list-font-item2">11/11/11</div>
                                </div>
                                <div class="emotion-icon col-xs-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="list-font-item1">First item</div>
                                    <div class="list-font-item2">11/11/11</div>
                                </div>
                                <div class="emotion-icon col-xs-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="list-font-item1">First item</div>
                                    <div class="list-font-item2">11/11/11</div>
                                </div>
                                <div class="emotion-icon col-xs-2"></div>
                            </div>
                        </li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">First item</li>
                        <li class="list-group-item">Second item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">First item</li>
                        <li class="list-group-item">Second item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">First item</li>
                        <li class="list-group-item">Second item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">First item</li>
                        <li class="list-group-item">Second item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                        <li class="list-group-item">Third item</li>
                    </ul>
                </div>
                <div>
        </section>
    </div>
</main>
</body>

</html>
